@font-face {
    font-family: 'rounded_eleganceregular';
    src: url('rounded_elegance-webfont.woff2') format('woff2'),
         url('rounded_elegance-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}