{% if boardKind %}
    <table id="board" align="center" width="100px" data-step="4"
           data-intro="Este es tu tablero. Cada uno de los elementos del tablero se pueden arrastrar a la sección de respuesta. La cual evaluará tu solución.">
        <thead>
        <th colspan="3">Tablero</th>
        </thead>
        <tbody>
        <tr>
            <td id="td1" style="vertical-align:top;">
                <img id="1" class="draggable drag-drop tablet"
                     src="{{ asset('/Matemagicas/public/Img/tempIcons/1.png') }}" width="30px" height="30px"/>
            </td>
            <td id="td2" style="vertical-align:top;">
                <img id="2" class="draggable drag-drop tablet"
                     src="{{ asset('/Matemagicas/public/Img/tempIcons/2.png') }}" width="30px" height="30px"/>
            </td>
            <td id="td3" style="vertical-align:top;">
                <img id="3" class="draggable drag-drop tablet"
                     src="{{ asset('/Matemagicas/public/Img/tempIcons/3.png') }}" width="30px" height="30px"/>
            </td>
        </tr>
        <tr>
            <td id="td4" style="vertical-align:top;">
                <img id="4" class="draggable drag-drop tablet"
                     src="{{ asset('/Matemagicas/public/Img/tempIcons/4.png') }}" width="30px" height="30px"/>
            </td>
            <td id="td5" style="vertical-align:top;">
                <img id="5" class="draggable drag-drop tablet"
                     src="{{ asset('/Matemagicas/public/Img/tempIcons/5.png') }}" width="30px" height="30px"/>
            </td>
            <td id="td6" style="vertical-align:top;">
                <img id="6" class="draggable drag-drop tablet"
                     src="{{ asset('/Matemagicas/public/Img/tempIcons/6.png') }}" width="30px" height="30px"/>
            </td>
        </tr>
        <tr>
            <td id="td7" style="vertical-align:top;">
                <img id="7" class="draggable drag-drop tablet"
                     src="{{ asset('/Matemagicas/public/Img/tempIcons/7.png') }}" width="30px" height="30px"/>
            </td>
            <td id="td8" style="vertical-align:top;">
                <img id="8" class="draggable drag-drop tablet"
                     src="{{ asset('/Matemagicas/public/Img/tempIcons/8.png') }}" width="30px" height="30px"/>
            </td>
            <td id="td9" style="vertical-align:top;">
                <img id="9" class="draggable drag-drop tablet"
                     src="{{ asset('/Matemagicas/public/Img/tempIcons/9.png') }}" width="30px" height="30px"/>
            </td>
        </tr>
        <tr>
            <td id="tdplus" style="vertical-align:top;">
                <img id="plus" class="draggable drag-drop tablet"
                     src="{{ asset('/Matemagicas/public/Img/tempIcons/plus.png') }}" width="30px" height="30px"/>
            </td>
            <td id="td0" style="vertical-align:top;">
                <img id="0" class="draggable drag-drop tablet"
                     src="{{ asset('/Matemagicas/public/Img/tempIcons/0.png') }}" width="30px" height="30px"/>
            </td>
            <td id="tdrest" style="vertical-align:top;">
                <img id="rest" class="draggable drag-drop tablet"
                     src="{{ asset('/Matemagicas/public/Img/tempIcons/rest.png') }}" width="30px" height="30px"/>
            </td>
        </tr>
        <tr>
            <td id="tdslash" colspan="3">
                <img id="slash" class="draggable drag-drop tablet"
                     src="{{ asset('/Matemagicas/public/Img/tempIcons/slash.png') }}" width="90px" height="30px"/>
            </td>
        </tr>
        <tr>
            <td id="td," colspan="3" class="text-center">
                <img id="," class="draggable drag-drop tablet"
                     src="{{ asset('/Matemagicas/public/Img/tempIcons/,.png') }}" width="30px" height="30px"/>
            </td>

        </tbody>
    </table>

{% endif %}



{% if not boardKind %}
    {% include 'standard/boardButton.html.twig' %}
{% endif %}
