<div class="col-12 mb-5 p-5 " style="border: #FFB612 dashed; border-radius: 10px">
    <h3>Antes de practicar deberías leer...</h3>
    <div class="row justify-content-center">
        <div class="col-md-3 text-center button-shadow mt-5 ml-5 mr-5 pb-1 pointer" style="background-color: white; border-radius: 10px; box-shadow: 5px 10px 18px" onclick="location.href='{{ path('figurageometrica') }}'">
            <h4>Figura geométrica</h4>
            <img src="{{ asset('Img/Svg/figuras geometricas.svg') }}">
        </div>
        <div class="col-md-3 text-center button-shadow mt-5 ml-5 mr-5 pb-1" style="background-color: white; border-radius: 10px; box-shadow: 5px 10px 18px">
            <h4>¿Qué es el area?</h4>
            <img src="{{ asset('Img/Svg/area.svg') }}">
        </div>
        <div class="col-md-3 text-center button-shadow mt-5 ml-5 mr-5 pb-1" style="background-color: white; border-radius: 10px; box-shadow: 5px 10px 18px">
            <h4>¿Qué es Pi?</h4>
            <img src="{{ asset('Img/Svg/pi.svg') }}">
        </div>
        <div class="col-md-3 text-center button-shadow mt-5 ml-5 mr-5 pb-1" style="background-color: white; border-radius: 10px; box-shadow: 5px 10px 18px">
            <h4>Angulos</h4>
            <img src="{{ asset('Img/Svg/angulo.svg') }}">
        </div>

    </div>
</div>